

.card {
    box-shadow: 1px 1px 16px rgb(202, 202, 202);
    z-index: 100 !important;
}

.projects-section-header {
    margin-top: -20px;
    margin-bottom: 50px;
}

.btn-close {
    width: 5px !important;
    height: 5px !important;
    background-color: rgb(233, 65, 61);
    border-radius: 50%;
}

.alert-danger {
    margin-top: 15px;
    padding: 10px;
}

.content {
    flex: 2;
    background-color: #fff;
    border-radius: 32px;
    padding: 32px 32px 10px 32px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}



@media (max-width: 767px) {
    div.dataTables_wrapper div.dataTables_paginate ul.pagination {
        -ms-flex-pack: center !important;
        justify-content: center !important;
        margin-top: 1rem;
    }
    .table-responsive {
        overflow-x: auto !important;
    }
}

@media (min-width: 767px) {
    .table-responsive {
        overflow-x: initial !important;
    }
}

@media (max-width: 420px) {
    .projects-section-header {
        margin-top: 10px !important;
        margin-bottom: 50px;
    }
}

.title_opt{
    font-weight: bold;
}

.tit_opcion{
    height: 40px;
    font-size: 15px;
    font-weight: bold;
}

.cardtabla{
    padding: 8px;
    border-radius: 15px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
tr:nth-child(even){
    background-color: #e9e9e9;
}
