<div class="flex items-start justify-between">
  <div class="grid grid-cols-2 gap-x-4 gap-y-1" *ngIf="detallesOrden" >
    <div class="text-4xl tracking-tight text-secondary">Proyecto</div>
    <div class="text-4xl">{{detallesOrden.proyecto}}</div>
    <div class="font-medium tracking-tight text-secondary">Sub-proyecto</div>
    <div class="font-medium">{{detallesOrden.subProyecto}}</div>
    <div class="font-medium tracking-tight text-secondary">Consecutivo</div>
    <div class="font-medium">{{detallesOrden.orden_consecutivo}}</div>
    <div class="font-medium tracking-tight text-secondary">Fecha de inicio</div>
    <div class="font-medium">{{detallesOrden.fecha_visita | date : 'mediumDate'}}</div>
    <div class="font-medium tracking-tight text-secondary">Lugar de inspección</div>
    <div class="font-medium">{{detallesOrden.lugar_visita}}</div>
  </div>
</div>

  <div class="projects-section-header">
    <div class="flex sm items-start sm:items-center sm:justify-between py-8 px-6 px-8">
      <div>
        <div class="text-3xl font-extrabold tracking-tight leading-none">Informe de Pull Off</div>
      </div>
    </div>
  </div>


  <form class="p-3 bg-card shadow rounded overflow-hidden" [formGroup]="Normas" *ngIf="autoSaveIndex">
    <mat-stepper orientation="vertical" #stepper (selectionChange)="setIndex($event)" selectedIndex="{{autoSaveIndex.indexStepper}}">
      <mat-step [stepControl]="Normas">
        <form [formGroup]="Normas" >
          <ng-template matStepLabel>Normas</ng-template>
          <div class="flex">
            <mat-form-field class="flex-auto" appearance="outline">
              <mat-label>Ensayo</mat-label>
              <textarea matInput [placeholder]="'Ensayo'" [formControlName]="'ensayo'" autocomplete="off"
              required></textarea>
            </mat-form-field>

          </div>
          <div class="flex">
            <mat-form-field class="flex-auto" appearance="outline">
              <mat-label>Criterio de evaluación</mat-label>
              <textarea matInput [placeholder]="'Criterio de evaluación'" [formControlName]="'criterio_evaluacion'" autocomplete="off"
              required></textarea>
            </mat-form-field>
          </div>
          <div class="flex justify-end mt-8 ng-star-inserted">
            <button type="submit" mat-button matStepperNext
            [disabled]="Normas.invalid"
            (click)="NormasId ?  onEditNormas() : onGetNormasPullOff()"
            class="mat-focus-indicator mat-stepper-next px-8 mat-flat-button mat-button-base mat-primary next-save">
            <span class="mat-button-wrapper"> Siguiente </span>
            <span matripple class="mat-ripple mat-button-ripple"></span>
            <span class="mat-button-focus-overlay"></span></button>
          </div>
        </form>
      </mat-step>

      <mat-step [stepControl]="Procedimient">
        <form [formGroup]="Procedimient" >
          <ng-template matStepLabel>Procedimiento</ng-template><br>
          <p class="my-6 font-medium">Procedimiento: </p>
          <div class="flex">
            <mat-form-field class="flex-auto" appearance="outline">
              <mat-label>Procedimiento</mat-label>
              <input matInput [placeholder]="'Procedimiento'" [formControlName]="'procedimiento'" autocomplete="off"
                required>

            </mat-form-field>
          </div>
          <p class="my-6 font-medium">Método del ensayo: </p>
          <div class="flex">
            <mat-form-field class="flex-auto" appearance="outline">
              <mat-label>Método del ensayo</mat-label>
              <input matInput [placeholder]="'metodo'" [formControlName]="'metodo_ensayo'" autocomplete="off"
                required>

            </mat-form-field>
          </div>
          <p class="my-6 font-medium">Equipos y materiales empleados: </p>
          <div class="content-inputs flex">
            <mat-form-field class="flex-auto" appearance="outline">
              <mat-label>Equipo empleado</mat-label>
              <input matInput [formControlName]="'equipos_emp'" [placeholder]="'Equipos empleado'"
                autocomplete="off" required>
            </mat-form-field>

            <mat-form-field class="flex-auto" appearance="outline">
              <mat-label>Adhesivo</mat-label>
              <input matInput [formControlName]="'adhesivo'" [placeholder]="'Adhesivo'" autocomplete="off"
                required>

            </mat-form-field>
          </div>
          <div class="flex justify-end">
            <button
              class="mat-focus-indicator mat-stepper-next px-8 mat-flat-button mat-button-base mat-primary back mr-2"
              mat-flat-button type="button" matStepperPrevious>
              Atras
            </button>
            <button type="button"
              class="mat-focus-indicator mat-stepper-next px-8 mat-flat-button mat-button-base mat-primary next-save"
              mat-flat-button type="button" matStepperNext (click)="ProcedimientoId ? onEditProcedimiento(): onSubmitProcedimiento()"  [disabled]="Procedimient.invalid">
              Siguiente
            </button>
          </div>
        </form>
      </mat-step>

      <mat-step [stepControl]="Sistem_pint">
        <form [formGroup]="Sistem_pint" >
          <ng-template matStepLabel>Sistema de pintura</ng-template><br>

            <div class="flex">
              <mat-form-field class="flex-auto" appearance="outline">
                <mat-label>Seleccione una opción</mat-label>
                <mat-select [formControlName]="'operacion'">
                  <mat-option [value]="'acond_Superficie'">Acond. Superficie</mat-option>
                  <mat-option [value]="'Anticorrosivo'">Anticorrosivo</mat-option>
                  <mat-option [value]="'Intermedia'">Intermedia</mat-option>
                  <mat-option [value]="'Recubrimiento'">Recubrimiento</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="flex">
              <mat-form-field class="flex-auto" appearance="outline">
                <mat-label>Calificación</mat-label>
                <input matInput [formControlName]="'calificacion'" [placeholder]="'calificacion'" autocomplete="off" required>

              </mat-form-field>
            </div>

            <div class="flex">
              <mat-form-field class="flex-auto" appearance="outline">

                <mat-label>Seleccione una opción</mat-label>
                <mat-select [formControlName]="'aplicacion'">
                  <mat-option [value]="'A'">Aplica</mat-option>
                  <mat-option [value]="'N.A.'">No aplica</mat-option>
                  <mat-option [value]="'F.A.'">Fuera de Alcance</mat-option>
                </mat-select>

              </mat-form-field>
            </div>

            <div class="flex">
              <mat-form-field class="flex-auto" appearance="outline">
                <mat-label>Espesor</mat-label>
                <input matInput [formControlName]="'espesor'" [placeholder]="'espesor'" autocomplete="off" required>

              </mat-form-field>
            </div>

            <div class="flex">
              <mat-form-field class="flex-auto" appearance="outline">
                <mat-label>Tiempo de curado</mat-label>
                <input matInput [formControlName]="'tiempo_curado'" [placeholder]="'Tiempo de curado'" autocomplete="off" required>

              </mat-form-field>
            </div>


          <div class="flex justify-end">

          <button
            class="mat-focus-indicator mat-stepper-next px-8 mat-flat-button mat-button-base mat-primary back mr-2"
            mat-flat-button type="button" (click)="cancelarEditSistemaPintura()" *ngIf="SistemaPinturaStatus">
            Cancela
          </button>
          <button type="submit"
            class="mat-focus-indicator mat-stepper-next px-8 mat-flat-button mat-button-base  btn btn-success"
            mat-flat-button type="button"
            (click)="SistemaPinturaStatus == false ? onSubmitSistemaPintura() : onEditarSistemaPintura()"
            [disabled]="Sistem_pint.status != 'VALID'">
            {{SistemaPinturaStatus == false ? 'Añadir' : 'Editar'}}

          </button>
          </div>
          <table class="table table-hover">
            <tbody>
              <tr *ngFor="let itemSistema of SistemaPintura" (click)="onClickEditSistemaPintura(itemSistema)">
                <td>{{itemSistema.operacion}}</td>
                <td>{{itemSistema.calificacion}}</td>
                <td>{{itemSistema.aplicacion}}</td>
                <td>{{itemSistema.espesor}}</td>
                <td>{{itemSistema.tiempo_curado}}</td>
              </tr>
            </tbody>
          </table>
          <div class="flex justify-end">
            <button
              class="mat-focus-indicator mat-stepper-next px-8 mat-flat-button mat-button-base mat-primary back mr-2"
              mat-flat-button type="button" matStepperPrevious>
              Atras
            </button>
            <button type="button"
              class="mat-focus-indicator mat-stepper-next px-8 mat-flat-button mat-button-base mat-primary next-save"
              mat-flat-button type="button" matStepperNext>
              Siguiente
            </button>
          </div>
        </form>
      </mat-step>

      <mat-step [stepControl]="Metodo_limpieza">
        <form [formGroup]="Metodo_limpieza" >
          <ng-template matStepLabel>Método de limpieza</ng-template><br>
          <p class="my-6 font-medium">Sustrato: </p>
          <div class="flex">
            <mat-form-field class="flex-auto" appearance="outline">
              <mat-label>Sustrato</mat-label>
              <input matInput [placeholder]="'Sustrato'" [formControlName]="'sustrato'" autocomplete="off"
                required>

            </mat-form-field>
          </div>
          <p class="my-6 font-medium">Método limpieza: </p>
          <div class="flex">
            <mat-form-field class="flex-auto" appearance="outline">
              <mat-label>Método limpieza</mat-label>
              <input matInput [placeholder]="'método de limpieza'" [formControlName]="'metodo_limpieza'" autocomplete="off"
                required>

            </mat-form-field>
          </div>
          <p class="my-6 font-medium">Condiciones climatológicas: </p>
          <div class="content-inputs flex">
            <mat-form-field class="flex-auto" appearance="outline">
              <mat-label>Temperatura Ambiente(C°)</mat-label>
              <input matInput [formControlName]="'temperatura_ambiente'" [placeholder]="'Temperatura de ambiente'"
                autocomplete="off" required>
            </mat-form-field>

            <mat-form-field class="flex-auto" appearance="outline">
              <mat-label>Humedad relativa(%)</mat-label>
              <input matInput [formControlName]="'humedad_relativa'" [placeholder]="'Humedad relativa'" autocomplete="off"
                required>

            </mat-form-field>
            <mat-form-field class="flex-auto" appearance="outline">
              <mat-label>Temperatura Substrato(C°)</mat-label>
              <input matInput [formControlName]="'temperatura_substrato'" [placeholder]="'Temperatura de substrato'" autocomplete="off"
                required>

            </mat-form-field>
            <mat-form-field class="flex-auto" appearance="outline">
              <mat-label>Punto de rocío(C°)</mat-label>
              <input matInput [formControlName]="'punto_rocio'" [placeholder]="'Punto de rocío'" autocomplete="off"
                required>

            </mat-form-field>
          </div>
          <div class="flex justify-end mt-8 ng-star-inserted">
            <button
              class="mat-focus-indicator mat-stepper-next px-8 mat-flat-button mat-button-base mat-primary back mr-2"
              mat-flat-button type="button" matStepperPrevious>
              Atras
            </button>
            <button type="button"
              class="mat-focus-indicator mat-stepper-next px-8 mat-flat-button mat-button-base mat-primary next-save"
              mat-flat-button type="button" matStepperNext (click)="MetodoLimpiezaId ? onEditarMetodoLimpieza(): onSubmitMetodoLimpieza()"  [disabled]="Metodo_limpieza.invalid">
              Siguiente
            </button>
          </div>
        </form>
      </mat-step>

      <mat-step>
        <form [formGroup]="elementosInspeccionadosForm">
          <ng-template matStepLabel>
            <div class="mat-step-custom-click"></div>
            Elementos inspeccionados
          </ng-template>
          <quill-editor placeholder="Elementos Inspeccionados" [formControlName]="'elemento_inspeccionado'" [modules]="quillModules">
          </quill-editor>

          <div class="flex justify-end mt-3">
            <button
              class="mat-focus-indicator mat-stepper-next px-8 mat-flat-button mat-button-base mat-primary back mr-2"
              mat-flat-button type="button" matStepperPrevious>
              Atras
            </button>
            <button type="button"
              class="mat-focus-indicator mat-stepper-next px-8 mat-flat-button mat-button-base mat-primary next-save"
              mat-flat-button type="button" matStepperNext (click)="ElementosInspeccionadosId ? onEditarElementosInspeccionados(): onSubmitElementosInspeccionados()"  [disabled]="elementosInspeccionadosForm.invalid">
              Siguiente
            </button>
          </div>


        </form>
      </mat-step>

      <mat-step [stepControl]="ResultadosObtenidos">
        <form [formGroup]="ResultadosObtenidos" >
          <ng-template matStepLabel>Resultados obtenidos</ng-template><br>

            <div class="flex">
              <mat-form-field class="flex-auto" appearance="outline">
                <mat-label>Elemento inspeccionado</mat-label>
                <input matInput [formControlName]="'elemento_inspeccionado'" [placeholder]="'Elemento inspeccionado'" autocomplete="off" required>
              </mat-form-field>
            </div>
            <div class="flex">
              <mat-form-field class="flex-auto" appearance="outline">
                <mat-label>Espesor de pintura</mat-label>
                <input matInput [formControlName]="'espesor_pintura'" [placeholder]="'Espesor de pintura'" autocomplete="off" required>
              </mat-form-field>
            </div>
            <div class="flex">
              <mat-form-field class="flex-auto" appearance="outline">
                <mat-label>Número de dado</mat-label>
                <input matInput [formControlName]="'numero_dado'" [placeholder]="'Número de dado'" autocomplete="off" required>
              </mat-form-field>
            </div>


            <div class="flex">
              <mat-form-field class="flex-auto" appearance="outline">
                <mat-label>Adherencia</mat-label>
                <input matInput [formControlName]="'adherencia_obtenida'" [placeholder]="'Adherencia obtenida'" autocomplete="off" required>
              </mat-form-field>
            </div>


            <div class="flex">
              <mat-form-field class="flex-auto" appearance="outline">

                <mat-label>Seleccione una opción</mat-label>
                <mat-select [formControlName]="'calificacion'">
                  <mat-option [value]="'C'">Conforme</mat-option>
                  <mat-option [value]="'NC'">No Conforme</mat-option>
                  <mat-option [value]="'RI'">Reinspeccionar</mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <div class="flex">
              <mat-form-field class="flex-auto" appearance="outline">
                <mat-label>Observación</mat-label>
                <input matInput [formControlName]="'observacion'" [placeholder]="'observación'" autocomplete="off" required>

              </mat-form-field>
            </div>

          <div class="flex justify-end">
            <button
            class="mat-focus-indicator mat-stepper-next px-8 mat-flat-button mat-button-base mat-primary back mr-2"
            mat-flat-button type="button" (click)="cancelarEditResultadosObtenidos()" *ngIf="ResultadoObtenidoStatus">
            Cancela
          </button>
          <button type="submit"
            class="mat-focus-indicator mat-stepper-next px-8 mat-flat-button mat-button-base  btn btn-success"
            mat-flat-button type="button"
            (click)="ResultadoObtenidoStatus == false ? onSubmitResultadosObtenidos() : onEditarResultadosObtenidos()"
            [disabled]="ResultadosObtenidos.status != 'VALID'">
            {{ResultadoObtenidoStatus == false ? 'Añadir' : 'Editar'}}

          </button>
          </div>
          <table class="table table-hover">
            <tbody>
              <tr *ngFor="let itemResultado of ResultadoObtenidos" (click)="onClickEditResultadosObtenidos(itemResultado)">
                <td>{{itemResultado.elemento_inspeccionado}}</td>
                <td>{{itemResultado.espesor_pintura}}</td>
                <td>{{itemResultado.numero_dado}}</td>
                <td>{{itemResultado.calificacion}}</td>
                <td>{{itemResultado.observacion}}</td>
              </tr>
            </tbody>
          </table>
          <div class="flex justify-end">
            <button
              class="mat-focus-indicator mat-stepper-next px-8 mat-flat-button mat-button-base mat-primary back mr-2"
              mat-flat-button type="button" matStepperPrevious>
              Atras
            </button>
            <button type="button"
              class="mat-focus-indicator mat-stepper-next px-8 mat-flat-button mat-button-base mat-primary next-save"
              mat-flat-button type="button" matStepperNext>
              Siguiente
            </button>
          </div>
        </form>
      </mat-step>

      <mat-step>
        <form [formGroup]="Observaciones">
          <ng-template matStepLabel>
            <div class="mat-step-custom-click"></div>
            Observaciones
          </ng-template>
          <quill-editor placeholder="Observaciones" [formControlName]="'observacion'" [modules]="quillModules">
          </quill-editor>

          <div class="flex justify-end">
            <button type="submit"
              class="mat-focus-indicator mat-stepper-next px-8 mat-flat-button mat-button-base  btn btn-success btn-m"
              mat-flat-button type="submit">

            </button>
          </div>
          <div class="marging flex">

          </div>
          <div class="flex justify-end">
            <button
              class="mat-focus-indicator mat-stepper-next px-8 mat-flat-button mat-button-base mat-primary back mr-2"
              mat-flat-button type="button" matStepperPrevious>
              Atras
            </button>
            <button type="button"
              class="mat-focus-indicator mat-stepper-next px-8 mat-flat-button mat-button-base mat-primary next-save"
              mat-flat-button type="button" matStepperNext (click)="ObservacionesId ? onEditarObservaciones(): onSubmitObservaciones()"  [disabled]="Observaciones.invalid">
              Siguiente
            </button>
          </div>
        </form>
      </mat-step>

      <mat-step>
        <form [formGroup]="RegistroFotosForm">
          <ng-template matStepLabel>
            <div class="mat-step-custom-click" ></div>
            Registro Fotográfico
          </ng-template>
          <br>
          <div class="flex">
            <mat-form-field class="flex-auto" appearance="outline">
              <mat-label>Titulo</mat-label>
              <input matInput [formControlName]="'title'" name="title" [placeholder]="'Titulo'" autocomplete="off" required>
              <mat-icon class="icon-size-5 icon-form" matPrefix>title</mat-icon>
            </mat-form-field>
          </div>
          <div class="content-inputs">
            <div class="mb-3">
              <label for="formFileSm" class="form-label">Seleccione las imágenes</label>
              <input class="form-control form-control-sm"
              (change)="onPhotoSelectedRegistroFotos($event)"
                id="formFileSmRegistroFotos" type="file" accept="image/x-png,image/jpeg,image/jpg"
                #formFileSmRegistroFotos>
            </div>
          </div>
          <div class="flex justify-end mb-3">
            <button type="submit"
              class="mat-focus-indicator mat-stepper-next px-8 mat-flat-button mat-button-base  btn btn-success bt-m"
              mat-flat-button type="submit" (click)="onSubmitRegistroFotos()">
              Añadir
            </button>
          </div>

          <div class="marging row-img">
            <div class="column-img">
              <mat-grid-list cols="2" rowHeight="2:1">
                 <mat-grid-tile *ngFor="let item of RegistroFotos; index as i;">

                   <img mat-card-image [src]="url+'/img-uploads/' + item.image" alt="{{item.title}}"
                    (click)="showLightboxRegistroFotos(i)" class="img">


                  <mat-grid-tile-footer>
                    <h3 mat-line>Registro Fotográfico N° {{i+1}}</h3>
                    <span mat-line> {{item.title}} </span>
                    <button mat-mini-fab color="warn" (click)="deleteRegistroFoto(item._id)">
                      <mat-icon>restore_from_trash</mat-icon>
                    </button>
                  </mat-grid-tile-footer>

                 </mat-grid-tile>
              </mat-grid-list>
            </div>
          </div>
         <ng-image-fullscreen-view [images]="imageObjectRegistroFotos" [imageIndex]="selectedImageIndexRegistroFotos"
            [show]="showFlagRegistroFotos" (close)="closeEventHandlerRegistroFotos()"></ng-image-fullscreen-view>
          <div class="flex justify-end mt-3">
            <button
              class="mat-focus-indicator mat-stepper-next px-8 mat-flat-button mat-button-base mat-primary back mr-2"
              mat-flat-button type="button" matStepperPrevious>
              Atras
            </button>
            <button type="button"
              class="mat-focus-indicator mat-stepper-next px-8 mat-flat-button mat-button-base mat-primary next-save"
              mat-flat-button type="button" matStepperNext>
              Siguiente
            </button>
          </div>
        </form>
      </mat-step>

      <mat-step>
        <form [formGroup]="RegistroFotosForm">
          <ng-template matStepLabel>
            <div class="mat-step-custom-click" (click)="onGetRegistroFotos()"></div>
            Firmas
          </ng-template>
          <br>

          <div class="flex">

            <div class="form-group">

              <label for="firma-elaboro">Elaboró</label>

              <div [style]="{'display': firmaElaboroStatus == true ? 'none' : 'block' }">

                <canvas id="firmaElaboro" class="firma" width="466" height="154" #firmaElaboro>
                </canvas>

                <div class="btn-toolbar">
                  <div class="me-2">
                    <button type="button" id="btn-finalizar-firma-elaboro" class="btn btn-outline-success">Finalizar
                      firma</button>
                  </div>
                  <div class="me-2">
                    <button type="button" class="btn btn-secondary float-sm-right"
                      id="draw-clearBtn-firma-elaboro">Limpiar firma</button>
                  </div>
                </div>
              </div>

              <div [style]="{'display': firmaElaboroStatus == true ? 'block' : 'none' }">

                <img src="{{firmaElaboroImg}}" width="466" height="154">

              </div>

            </div>

            <div class="form-group">
              <label for="firma-reviso">Revisó</label>
              <div [style]="{'display': firmaRevisoStatus == true ? 'none' : 'block' }">

                <canvas id="firmaReviso" class="firma" width="466" height="154">
                </canvas>

                <div class="btn-toolbar">
                  <div class="me-2">
                    <button type="button" id="btn-finalizar-firma-reviso" class="btn btn-outline-success">Finalizar
                      firma</button>
                  </div>
                  <div class="me-2">
                    <button type="button" class="btn btn-secondary float-sm-right" id="draw-clearBtn-firma-reviso">Limpiar
                      firma</button>
                  </div>
                </div>
              </div>
              <div [style]="{'display': firmaRevisoStatus == true ? 'block' : 'none' }">

                <img src="{{firmaRevisaImg}}" width="466" height="154">

              </div>
            </div>
          </div>

          <ng-image-fullscreen-view [images]="imageObjectRegistroFotos" [imageIndex]="selectedImageIndexRegistroFotos"
            [show]="showFlagRegistroFotos" (close)="closeEventHandlerRegistroFotos()"></ng-image-fullscreen-view>
          <div class="flex justify-end">
            <button
              class="mat-focus-indicator mat-stepper-next px-8 mat-flat-button mat-button-base mat-primary back mr-2"
              mat-flat-button type="button" matStepperPrevious>
              Atras
            </button>
            <button type="button"
              class="mat-focus-indicator mat-stepper-next px-8 mat-flat-button mat-button-base mat-primary next-save"
              mat-flat-button type="button" matStepperNext>
              Finalizar
            </button>
          </div>
        </form>
      </mat-step>

    </mat-stepper>
  </form>

